%div.alert.alert-dismissible.alert-warning
   %button.close{:type => "button", :data-dismiss => "alert"} &times;
   %h4 Cuidado!
   %p Você não deveria estar aqui. Este método é exclusivo de invocações SOA.
