<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<title>Charts</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</head>
<body>
	<h1></h1>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript">
	var url = 'http://localhost:3000/stat/<%= @id_stat %>';
	var label = "";
	var dados  = <%= @dados %>;

	var percentual_locate = dados['table']['percentual_votos_localizacao'];
	var percentaual_votesValidate = dados['table']['percentual_votos_validos'];
	var percentaual_votesGeneral = dados['table']['percentual_votos_gerais'];
	var estado = dados['table']['nome_uf'];
	var mesoRegiao =  dados['table']['nome_meso'];
	var nameCandidate =  dados['table']['nome_urna_candidato'];
    
    var messo = <%= @messoregioes.to_s.html_safe %>;
	var canvas = $("<canvas />",{
			  id: 'myChart',
			  title: 'Candidato: '+nameCandidate,
			});
 	var h2 =  $("<h2 />",{
		  id: 'mesoRegiao',
			  title: 'Candidato: '+nameCandidate,
			  html: "Mesoregião: "+mesoRegiao
		});

 	$("body").append(h2);
 	$("body").append(canvas);
 	$("h1").html("Estado: "+estado);
 	var ctx = document.getElementById('myChart').getContext('2d');
	var chart = new Chart(ctx,
	{
		 // The type of chart we want to create
		type: 'pie',
	// The data for our dataset
		data: {
	        datasets: [{
	            data: [percentual_locate, percentaual_votesValidate, percentaual_votesGeneral],
        	}],
	        labels: [ 'Percentual Votos/Localizacao', 'Percentual Votos Validos', 'Percentual Votos Geral']
    	},
	});		
	
</script>