%div.alert.alert-dismissible.alert-warning
   %button.close{ :type => "button",  :data-dismiss => "alert"}
   %h4.alert-heading Erro de comunicação!
   %p.mb-0
      %strong=@erro + " Por favor, tente novamente a sua operação mais tarde."
