.jumbotron

   %h1 Territorial

   %a{:href => "/eleitor"}
      %button.btn.btn-primary.btn-lg{:type => "button"} Eleitores
   %a{:href => "/analista"}
      %button.btn.btn-success.btn-lg{:type => "button"} Analistas
